<h1 mat-dialog-title>Enregistrement d'une location</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="rentForm">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Date de Location</mat-label>
      <input matInput readonly formControlName="date_location" >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>{{ description }}</mat-label>
      <input matInput readonly formControlName="id_voiture" >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Choisir le Client</mat-label>
      <mat-select formControlName="id_client" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let client of clients" [value]="client.id">
          {{client.prenom}} {{ client.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" (click)="addRent()">Enregistrer</button>
  <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
</div>
